.pio
.vscode
lib
include
test
excluded

platformio.ini
src/main.cpp

# Example headers, which occasionally slip into pushes
src/command_lookup.h
src/execute.h
src/help.h
src/macro_lookup.h
src/parse.h
src/serial.h